@charset "UTF-8";
.container {
  max-width: 1140px;
  padding: 0 150px;
  margin: 0 auto;
}
.container__testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}
a,
ul,
body,
h1,
h3,
h2,
p,
li,
svg,
button,
hr {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul,
a,
address {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
}

.logo {
  color: white;
  font-size: 28px;
  font-family: "Anton", fantasy;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  word-wrap: break-word;
}
.logo__gray {
  color: rgba(255, 255, 255, 0.5215686275);
}
.logo__gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fe390c), to(#521b0e));
  background-image: linear-gradient(to bottom, #fe390c, #521b0e); /* Градієнт */
  -webkit-background-clip: text;
          background-clip: text; /* Використовуємо текст як маску */
  color: transparent;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title__number {
  color: #fe390c;
  font-size: 80px;
  font-family: "Anton", fantasy;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  word-wrap: break-word;
}
.title__title {
  color: #111214;
  font-size: 40px;
  font-family: "Anton", fantasy;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  word-wrap: break-word;
  text-transform: uppercase;
  margin-left: 24px;
}
.title__contact {
  color: white;
}

.move-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.move-box__button {
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
  background-color: #fe390c;
  border: none;
}
.move-box__icon_right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  z-index: 2;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 42px;
  height: 42px;
}

.header {
  width: 100%;
  background-color: #111214;
  padding: 25px 0;
}
.header__button {
  cursor: pointer;
  padding: 12px 16px;
  background-color: transparent;
  border: 1px #fe390c solid;
  border-radius: 4px;
  color: #fe390c;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  word-wrap: break-word;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.header__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header__burger {
  display: none;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 54px;
}
.header__item {
  cursor: pointer;
  color: #a9a9aa;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  word-wrap: break-word;
}
.header__item:focus, .header__item:hover, .header__item_active {
  color: #fe390c;
}

@media (max-width: 375px) {
  .header {
    display: none;
  }
}
.hero {
  background-image: url("../img/Background.png");
  padding: 200px 0 228px;
  position: relative;
}
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__title {
  z-index: 2;
}
.hero__img {
  position: absolute;
  left: 42%;
  bottom: 0;
  z-index: 1;
}
.hero__gradient {
  position: absolute;
  width: calc(100% - 250px);
  height: 191px;
  background: linear-gradient(232deg, #111214 35.95%, #111214 57.97%);
  -webkit-filter: blur(47.5px);
          filter: blur(47.5px);
  z-index: 2;
  top: 85%;
}
.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}
.hero__text {
  color: white;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.96px;
  word-wrap: break-word;
}
.hero__text-orange {
  color: #fe390c;
}
.hero__text-little {
  letter-spacing: -0.64px;
  margin-bottom: 24px;
}
.hero__text-main {
  font-style: normal;
  color: white;
  font-size: 130px;
  font-family: "Anton", fantasy;
  font-weight: 400;
  line-height: 154px;
  letter-spacing: 1.95px;
  word-wrap: break-word;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.hero__button {
  cursor: pointer;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #fe390c;
  border: none;
  font-style: normal;
  color: white;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  word-wrap: break-word;
  text-transform: capitalize;
}

@media (max-width: 375px) {
  .hero {
    display: none;
  }
}
.about {
  background-color: white;
  padding: 90px 0 86px 0;
  position: relative;
  z-index: 3;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 63px;
}
.about__expirence-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__expirence-box_right {
  margin-bottom: 31px;
}
.about__expirence-box_right .about__expirence-text {
  margin-left: 12px;
}
.about__expirence-box_left {
  margin-top: 31px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.about__expirence-box_left .about__expirence-text {
  margin-right: 12px;
}
.about__expirence-year {
  color: #fe390c;
  font-size: 64px;
  font-family: "Anton", fantasy;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
  word-wrap: break-word;
  text-transform: uppercase;
  font-style: normal;
}
.about__expirence-text {
  color: #111214;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.56px;
  word-wrap: break-word;
}
.about__text {
  color: #a9a9aa;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 1.6px;
  word-wrap: break-word;
  padding-left: 92px;
}
.about__text:not(:first-child) {
  margin-top: 15px;
}

@media (max-width: 375px) {
  .about .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__text {
    padding-left: 76px;
  }
}
.platforms {
  background-color: #f7f7f7;
  padding: 92px 0 190px 0;
}
.platforms__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 90px;
}
.platforms__icon {
  cursor: pointer;
}
.platforms__icon:hover, .platforms__icon:focus {
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
}

@media (max-width: 375px) {
  .platforms {
    display: none;
  }
}
.download {
  position: relative;
  left: 150px;
  top: 190px;
}
.download__container {
  position: absolute;
  top: -350px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #111214;
  padding: 73px 214px 79px 245px;
  border-radius: 2px;
}
.download__title {
  color: white;
  font-size: 40px;
  font-family: "Anton", fantasy;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  word-wrap: break-word;
  text-transform: capitalize;
  margin-bottom: 32px;
}
.download__button {
  cursor: pointer;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #fe390c;
  border: none;
  font-style: normal;
  color: white;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  word-wrap: break-word;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.download__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.download__text {
  color: #a9a9aa;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.56px;
  word-wrap: break-word;
}

.service {
  padding: 300px 0 84px 0;
}
.service .title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service__list {
  padding-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 61px;
}
.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 39px 31px 31px 20px;
  background-color: #f7f7f7;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
.service__item:focus, .service__item:hover {
  background-color: #fe390c;
  color: white;
}
.service__item:focus .service__title, .service__item:hover .service__title {
  color: white;
}
.service__item:focus .service__text, .service__item:hover .service__text {
  color: #ffd7ce;
}
.service__item:focus .service__icon, .service__item:hover .service__icon {
  color: white;
}
.service__icon {
  margin-bottom: 24px;
  color: #fe390c;
}
.service__title {
  color: #111214;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.64px;
  word-wrap: break-word;
  font-style: normal;
}
.service__text {
  margin-top: 8px;
  color: #a9a9aa;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.28px;
  word-wrap: break-word;
  font-style: normal;
}

@media (max-width: 375px) {
  .service {
    display: none;
  }
}
.portfolio {
  padding: 73px 0;
  background-color: #f7f7f7;
}
.portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}
.portfolio__slider-button {
  cursor: pointer;
  height: 3px;
  border-radius: 3px;
  width: 53px;
  border: none;
  background-color: #e0e0e0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.portfolio__slider-button:focus, .portfolio__slider-button:hover {
  background-color: #fe390c;
}
.portfolio__slider-button_active {
  background-color: #fe390c;
}

.filtrated-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.filtrated-box__button {
  cursor: pointer;
  display: block;
  color: #a9a9aa;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  word-wrap: break-word;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: transparent;
  border: transparent 1px solid;
  -webkit-transition: border 0.5s, color 0.5s;
  transition: border 0.5s, color 0.5s;
  padding: 16px;
}
.filtrated-box__button:focus, .filtrated-box__button:hover {
  color: #fe390c;
  border-radius: 4px;
  border: #fe390c 1px solid;
}
.filtrated-box__button_active {
  color: #fe390c;
  border-radius: 4px;
  border: #fe390c 1px solid;
}

.image-box {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding: 40px 0 63px;
}
.image-box__item {
  position: relative;
}
.image-box__item:focus .overlay, .image-box__item:hover .overlay {
  opacity: 100%;
}

.overlay {
  opacity: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5882352941);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.overlay__title {
  color: white;
  font-size: 32px;
  font-family: "Anton", fantasy;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  word-wrap: break-word;
  text-transform: capitalize;
}
.overlay__text {
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.64px;
  word-wrap: break-word;
}

@media (max-width: 375px) {
  .portfolio {
    display: none;
  }
}
.testimonial {
  padding: 120px 0;
}
.testimonial__content {
  padding-left: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonial__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonial__nav-text {
  color: #c4c4c4;
  font-size: 24px;
  font-family: "Anton", fantasy;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  word-wrap: break-word;
}
.testimonial__count {
  color: #fe390c;
}
.testimonial_slider-item {
  cursor: pointer;
  height: 3px;
  border-radius: 3px;
  width: 53px;
  border: none;
  background-color: #e0e0e0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.testimonial_slider-item:focus, .testimonial_slider-item:hover {
  background-color: #fe390c;
}
.testimonial_slider-item_active {
  background-color: #fe390c;
}
.testimonial__slider-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quote-box__icon {
  margin-bottom: 23.84px;
}
.quote-box__text {
  color: #111214;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.28px;
  word-wrap: break-word;
  margin-bottom: 31px;
}
.quote-box__author {
  color: var(--1, #fe390c);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.64px;
  word-wrap: break-word;
}
.quote-box__author-position {
  margin-top: 12px;
  color: #a9a9aa;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.56px;
  word-wrap: break-word;
}
@media (max-width: 375px) {
  .testimonial {
    display: none;
  }
}
.contact {
  padding: 56px 0 51px 0;
  background-color: #111214;
  color: white;
}
.contact__line {
  border-color: #1c1e21;
  margin: 24px 0 40px 0;
}
.address-box {
  margin-right: 94px;
}
.address-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 47px;
  margin-top: 55px;
}
.address-box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.address-box__icon {
  margin-right: 17px;
}
.address-box__title {
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  word-wrap: break-word;
}
.address-box__text {
  color: #a9a9aa;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.26px;
  word-wrap: break-word;
  margin-top: 9px;
}

.contact__form-title {
  color: white;
  font-size: 24px;
  font-family: "Anton", fantasy;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: nowrap;
}
.contact__form-title_orange {
  color: #fe390c;
}

.form-contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
.form-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-contact__item:first-child {
  margin-right: 30px;
  margin-bottom: 47px;
}
.form-contact__label {
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  word-wrap: break-word;
  margin-bottom: 12px;
}
.form-contact__input {
  color: white;
  border-radius: 2px;
  border: none;
  width: 312px;
  padding: 20px;
  background: rgba(202, 205, 209, 0.1);
}
.form-contact__textarea {
  border-radius: 2px;
  color: white;
  border: none;
  width: 710px;
  height: 124px;
  padding: 16px;
  background: rgba(202, 205, 209, 0.1);
  resize: none;
}
.form-contact__button {
  cursor: pointer;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: #fe390c;
  border: none;
  font-style: normal;
  color: white;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  word-wrap: break-word;
  text-transform: capitalize;
}

@media (max-width: 375px) {
  .contact {
    display: none;
  }
}
.footer {
  background-color: #0c0c0e;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__text {
  color: #a9a9aa;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.56px;
  word-wrap: break-word;
}
.footer__text_white {
  color: white;
}