.header {
  width: 100%;
  background-color: $black;
  padding: 25px 0;

  &__button {
    cursor: pointer;
    padding: 12px 16px;
    background-color: transparent;
    border: 1px $main-color solid;
    border-radius: 4px;
    @include font($main-color, 12px, $font-montserrat, 600, normal);
  }
  &__body {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__menu {
    align-self: center;
  }
  &__burger {
    display: none;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 54px;
  }

  &__item {
    cursor: pointer;
    @include font($grey, 12px, $font-montserrat, 600, normal);
    &:focus,
    &:hover,
    &_active {
      color: $main-color;
    }
  }
}

@media (max-width: 375px) {
  .header {
    display: none;
  }
}
