.testimonial {
  padding: 120px 0;
  &__content {
    padding-left: 121px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-text {
    @include font($light-grey, 24px, $font-anton, 400, normal);
  }

  &__count {
    color: $main-color;
  }
  &_slider {
  }

  &_slider-item {
    cursor: pointer;
    height: 3px;
    border-radius: 3px;
    width: 53px;
    border: none;
    background-color: #e0e0e0;
    transition: background-color 0.5s;
    &:focus,
    &:hover {
      background-color: $main-color;
    }
    &_active {
      background-color: $main-color;
    }
  }

  &__slider-box {
    display: flex;
    justify-content: space-between;
  }
}

.quote-box {
  &__icon {
    margin-bottom: 23.84px;
  }
  &__text {
    @include font($black, 14px, $font-montserrat, 500, -0.28px, 32px);

    margin-bottom: 31px;
  }

  &__author {
    @include font(var(--1, $main-color), 16px, $font-montserrat, 700, -0.64px, 30px);
  }

  &__author-position {
    margin-top: 12px;
    @include font($grey, 14px, $font-montserrat, 600, -0.56px, 20px);
  }

  &__slider {
  }

  &__slider-item {
    &_active {
    }
  }
}

@media (max-width: 375px) {
  .testimonial {
    display: none;
  }
}
