@mixin font($color, $fs, $ff, $fw, $ls, $lh: normal) {
  color: $color;
  font-size: $fs;
  font-family: $ff;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  word-wrap: break-word;
}

@mixin button {
  cursor: pointer;
  padding: 16px 24px;
  border-radius: 4px;
  background-color: $main-color;
  border: none;

  font-style: normal;
  @include font(white, 12px, $font-montserrat, 600, normal);
  text-transform: capitalize;
}
