// Corols
$main-color: #fe390c;
$black: #111214;
$grey: #a9a9aa;
$grey10: #f7f7f7;
$grey100: #a7aab4;
$dark-gray: #57595d;
$grey-active: #ffd7ce;
$light-grey: #c4c4c4;
// Font
$font-montserrat: "Montserrat", sans-serif;
$font-anton: "Anton", fantasy;
